################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Covid19/obj
/.vs/Covid19/v16
Covid19/bin/Release/Covid19.exe.config
Covid19/bin/Release/Covid19.pdb
Covid19/bin/Release/Covid19.xml
*.exe
Covid19/bin/Release/Covid19/tmp.csv
Covid19/Covid-19.pfx
Covid19/bin/Release/Covid19/Covid19.ini
Covid19/bin/Release/Covid19/tmp.csv~e22b13fdccc7ab87b5f3670b6d547bec46a5ab5e
Covid19/bin/Release/Covid19/Covid19.ini~e22b13fdccc7ab87b5f3670b6d547bec46a5ab5e
Covid19/bin/Debug/Covid19.exe.config
Covid19/bin/Debug/Covid19.pdb
Covid19/bin/Debug/Covid19.xml
Covid19/bin/Debug/Covid19/CountryPopulation.csv
Covid19/bin/Debug/Covid19/Covid19.ini
Covid19/bin/Debug/Covid19/EuropeanCountries.csv
Covid19/bin/Debug/Covid19/Ita_full.csv
Covid19/bin/Debug/Covid19/Ita_provinces.csv
Covid19/bin/Debug/Covid19/Ita_regions.csv
Covid19/bin/Debug/Covid19/ITAPopulation.csv
Covid19/bin/Debug/Covid19/ITAProvincesPopulation.csv
Covid19/bin/Debug/Covid19/MapLoader.html
Covid19/bin/Debug/Covid19/tmp.csv
Covid19/bin/Debug/Covid19/US_Confirmed.csv
Covid19/bin/Debug/Covid19/US_deaths.csv
Covid19/bin/Debug/Covid19/USCitiesPopulation.csv
Covid19/bin/Debug/Covid19/USPopulation.csv
Covid19/bin/Debug/Covid19/World_Confirmed.csv
Covid19/bin/Debug/Covid19/World_deaths.csv
Covid19/bin/Debug/Covid19/World_Recovered.csv
